[2016-07-10 03:30] 128keaton opened #2 "Finalize tags"
Is there a method to call to just take the text inside of the field and make it a tag? I don't want my user to press enter at the end. Thanks!

[2016-07-11 05:27] hammyhamza opened #3 "tagField padding"
If we set its padding and there is no tag inside tagField then textField padding is not set.
Try it in **WSTagsFieldExample**, just press test button without writing anything.
Everything else is working great.

[2016-07-12 10:45] hainguyen86 opened #4 "Cannot Install with Carthage: "xcodebuild timed out while trying to read""
Hi @AgentWS ,
I'm trying install your framework by using Carthage
`github "whitesmith/WSTagsField"`

Then, the terminal said:

Please fix this asap

Thank you very much!

[2016-07-13 06:22] TofPlay opened #5 "Swift 3 and SwiftPM support"
Hi,
It's will be great to create a [Swift 3](https://swift.org/blog/swift-3-0-release-process/) version of your component

Article about **Swift 3**:
- [Migrating to Swift 2.3 or Swift 3 from Swift 2.2](https://swift.org/migration-guide/)

With [Swift 3](https://swift.org/blog/swift-3-0-release-process/) it would also be nice to add support for [SwiftPM](https://swift.org/package-manager/)

Articl

[2016-07-15 10:34] ricardopereira commented on #4
Well, this is working: `xcodebuild -project './WSTagsField.xcodeproj' -scheme 'WSTagsField' -destination 'platform=iOS Simulator,OS=latest,name=iPhone 5s' build`

[code]

[2016-07-15 10:37] ricardopereira commented on #4
I'm having the same issue with `carthage version 0.17.2` and the log is empty.

[2016-07-15 11:13] ricardopereira commented on #2
@128keaton So, you're looking for a method to add a new tag?

[2016-07-15 12:57] ricardopereira commented on #3
You mean this right?

![simulator_screen_shot_15_jul_2016_13_54_11](https://cloud.githubusercontent.com/assets/3541185/16874890/fbc6c5ca-4a93-11e6-9a4f-4adeff24fd1d.png)

[2016-07-15 13:12] 128keaton commented on #2
@ricardopereira yes, from the text already inside the field.

[2016-07-15 13:15] #3 closed

[2016-07-15 13:21] ricardopereira commented on #4
Fixed on [v1.2](https://github.com/whitesmith/WSTagsField/releases/tag/1.2).

[2016-07-15 13:22] #4 closed

[2016-07-15 13:28] ricardopereira commented on #2
Ok, maybe a `tagsField.acceptCurrentTextForTag()`.

[2016-07-15 13:32] 128keaton commented on #2
@ricardopereira yes. If I have time I can try and submit a PR..

[2016-07-15 13:33] ricardopereira commented on #5
Swift 3 is something that I'm aware of and then I will look into the SwiftPM support. Thanks.
BTW, nice issue 👍

[2016-07-15 13:34] ricardopereira commented on #5
@TofPlay Do you already use SwiftPM? Is it stable?

[2016-07-15 13:37] 128keaton commented on #2
Ok PR submitted. Was easy 👍
Pull Request #7

[2016-07-15 13:38] ricardopereira commented on #2
@128keaton Can you try using the `tokenizeTextFieldText()` method if it fits to your needs?

[2016-07-15 13:38] ricardopereira commented on #2
Oh, PR is done 😅 Thanks.

[2016-07-15 13:43] ricardopereira commented on #5
😌 (_Downloading Xcode 8 beta 2..._)

[2016-07-15 13:47] 128keaton commented on #2
@ricardopereira I edited one last thing so it wouldn't cause an issue

[2016-07-15 14:36] hainguyen86 commented on #4
thanks @ricardopereira

[2016-07-15 14:51] hainguyen86 commented on #2
@128keaton
replace this code in file WSTagsField.swift

`public func textFieldShouldReturn(textField: UITextField) -> Bool {
        var shouldDoDefaultBehavior = false
        if let shouldReturnEvent = onShouldReturn {
            shouldDoDefaultBehavior = shouldReturnEvent(self)

            if shouldDoDefaultBehavior {
                tokenizeTextFieldText()
            }
        }
        els

[2016-07-15 22:11] 128keaton commented on #2
@ricardopereira I'm gonna need some help with the squashing... I thought github was supposed to be easy :/

[2016-07-16 09:48] ricardopereira commented on #2
@128keaton Why did you closed #7? GitHub is easy but git itself can be quite complex 😉

[2016-07-16 09:54] ricardopereira commented on #2
So, you did your changes on master branch but it's a bad practice because if you want to update your branch with master then you have extra work on having your changes on top of the recent commits.

<img width="672" alt="screen_shot_2016-07-16_at_10_48_38" src="https://cloud.githubusercontent.com/assets/3541185/16894053/f434fc0a-4b42-11e6-8467-f461cf6e6f38.png">

Before any change, you should crea

[2016-07-16 10:00] ricardopereira commented on #2
About squasing, I usually use the rebase with interaction (`git rebase -i`) tool and I choose each commit I want to squash. [Here](https://robots.thoughtbot.com/git-interactive-rebase-squash-amend-rewriting-history) you have a nice topic about rebasing.

Meanwhile, I suggest to start over again because you're working from master and it will difficult your work.

[2016-07-16 11:47] hammyhamza commented on #3
Great its perfect now!

[2016-07-16 12:04] hammyhamza opened #12 "Tag width is larger than tagfield"
![bug](https://cloud.githubusercontent.com/assets/8539678/16894683/74424028-4b7b-11e6-97e0-8c1c171d1ec0.png)

[2016-07-17 11:13] TofPlay commented on #5
@ricardopereira

Yes I use Swift for the projects I migrates Swift 3. But It's takes time because all components I used on a project must have migrated on Swift 3 and be compatible SwiftPM.

On the projects that I could migrate yes

[2016-07-20 06:13] ricardopereira opened #14 "Increment bundle version"
https://github.com/whitesmith/WSTagsField/blob/df88c9f5cca4afb5dce1786c50dddd2e4115c25e/WSTagsField/Info.plist#L18

[2016-07-21 23:38] 128keaton commented on #2
Ok, I fixed the issues with #13

[2016-07-29 15:29] ricardopereira commented on #12
Fixed. Great catch! 👊

[2016-07-29 15:29] #12 closed

[2016-07-29 15:38] #2 closed

[2016-07-29 15:56] ricardopereira commented on #14
Done https://github.com/whitesmith/WSTagsField/blob/9e8660548b8f1cc971dcbe4f6c78ac662e4cc62c/WSTagsField/Info.plist#L18

[2016-07-29 15:56] #14 closed

[2016-08-26 10:58] ricardopereira commented on #5
**Swift 3** is now supported! 🙌
Check out the [`2.0.0.beta.1`](https://github.com/whitesmith/WSTagsField/releases/tag/2.0.0.beta.1) release.

[2016-08-26 10:58] #5 closed

[2016-09-17 11:04] canaksoy opened #20 "tokenize with space"
any option for tokenize with both return and space?

[2016-09-17 11:07] canaksoy commented on #20
[code]
is it ok?

[2016-09-30 16:25] ricardopereira commented on #20
@canaksoy Sorry for the delay. Can you clarify your issue?

[2016-09-30 16:36] ricardopereira commented on #20
You can always access the list of current tags with `tagsField.tags` and use it like:

<img width="194" alt="screen shot 2016-09-30 at 17 35 09" src="https://cloud.githubusercontent.com/assets/3541185/18999210/4beb8874-8734-11e6-9fa1-fef806a3de1f.png">

[code]

[2016-09-30 18:56] canaksoy commented on #20
its for make tag with return and space. maybe you can make an option for that.

[2016-09-30 18:58] #20 closed

[2016-10-17 20:32] Den-Ree opened #22 "Question about future?"
Do you think about handling tap on tag for custom events?

[2016-10-18 10:53] ricardopereira commented on #22
Could be interesting 😄

[2016-11-10 17:56] diek85 opened #23 "Swift 3 and CocoaPods"
Hi

I just tried to install your library via CocoaPods, but it seems that it gets the 2.3 Swift version of the code.

My pod files simply contains

`pod "WSTagsField"`

What should I do?

[2016-11-10 19:52] ricardopereira commented on #23
@diek85 Strange. https://cocoapods.org/pods/WSTagsField is linking to the latest https://github.com/whitesmith/WSTagsField/releases/tag/2.0.0 so it should be working. Can you try it with: `pod 'WSTagsField' '~> 2.0.0'`?

[2016-11-11 08:09] diegovigano commented on #23
Hi,

Actually it was retrieving the 1.2.2 version.

<img width="566" alt="schermata 2016-11-11 alle 08 58 39" src="https://cloud.githubusercontent.com/assets/13921451/20208389/2e3558fc-a7ee-11e6-99b3-9957d2383800.png">

Adding 2.0.0 resulted in a CocoaPods error (saying that `None of your spec sources contain a spec satisfying the dependencies`).

So I had to perform a `pod repo update` and after

[2016-11-11 08:12] ricardopereira commented on #23
Oh, great to know about `pod repo update`.
Thanks for sharing 👍

[2016-11-11 08:12] #23 closed

[2016-11-22 13:52] KhalisCH opened #24 "Tap Gesture"
Hello,

How to know which tag is selected when the user tap on it ?

Thank you.

[2016-11-22 14:57] ricardopereira commented on #24
@KhalisCH Unfortunately, there is no event for that currently but it's something that we will implement in the next release. Maybe next, tuesday.

[2016-11-23 09:41] KhalisCH commented on #24
It is possible to let the user deletes the tag when he taps on it and forbid to write in the textfield ? For exemple all the touches of the keyboard are disabled except the backspace.

[2016-11-29 10:24] CataD256 opened #25 "Unable to set InputAccessoryView"
Hey, I was trying to change the inputAccessoryView of the text field used by WSTagsField, but I can't figure out why it doesn't set it when I start editing the field while there are already some tags added. In any other case it works fine. Could you give me some hints?

[2016-11-29 11:05] ricardopereira commented on #25
@CataD256 If there's no tag the `inputAccessoryView` is loaded?

[2016-11-29 12:38] CataD256 commented on #25
I managed to figure it out. IQKeyboardManager was conflicting with what I had implemented. However, there is still no straight forward way to set the input accessory view for the text field used within WSTagsField. I had to do it inside the delegate  methods by searching for the first responder.

[2016-11-29 12:45] ricardopereira commented on #25
@CataD256 I see. We will have this in mind for the next release. Thank you.

[2016-12-12 00:54] Gerst20051 opened #26 "Tags Aren't Correct Width"
Any idea what's going on here? Feel free to ask me questions for clarification. Using SnapKit for sizing / positioning of the tag fields. I have 4 separate tag fields on the same page one below the other.

<img width="620" alt="screenshot 2016-12-11 19 37 13" src="https://cloud.githubusercontent.com/assets/235372/21084993/8e1f2dd0-bfd9-11e6-9cf1-c9be8b8c42d4.png">

[2016-12-12 00:55] Gerst20051 commented on #26
Figured Out That I Needed To Call The Following Before Calling `addTags()`.

[code]

[2016-12-12 01:05] Gerst20051 opened #27 "TagField Not Sized Correctly After Setting readOnly to true"
It would be nice to have an easy way to hide the textfield.

[2016-12-12 01:08] Gerst20051 commented on #27
<img width="618" alt="screenshot 2016-12-11 20 08 20" src="https://cloud.githubusercontent.com/assets/235372/21085254/99e323a2-bfdd-11e6-8cb5-0d1457cc6e12.png">

[2016-12-12 01:17] Gerst20051 commented on #27
I've run out of things to try. Let me know if you have any suggestions...

[2016-12-12 05:20] Gerst20051 opened #28 "Can't Close Keyboard Using Return"
How should we close keyboard when tagsField is focused and return is pressed and only when the textfield is empty?

[2016-12-12 05:31] Gerst20051 commented on #28
I've got this but it would be nice if the textfield wasn't private so that i could check the text contents...

[code]

[2016-12-12 09:53] ricardopereira commented on #27
@Gerst20051 How many tags are you adding? I will try to reproduce and fix it.

[2016-12-12 09:54] ricardopereira commented on #28
I will have this in mind for the next release. Thanks!

[2016-12-12 09:56] ricardopereira commented on #26
This could be done automatically. Thanks for opening an issue.

[2016-12-12 15:56] Gerst20051 commented on #28
@ricardopereira thanks for the prompt responses. let me know if i can help. i might fork this and submit some pull requests and come back to this after i make further progress on some other items.

[2016-12-12 16:06] Gerst20051 commented on #27
@ricardopereira that first one only had the 4 tags that you see. the last one is getting cut off.

[2016-12-12 16:28] ricardopereira commented on #27
@Gerst20051 Could you add a short runnable sample to reproduce this issue? Thanks in advance.

[2017-01-06 16:19] #28 closed

[2017-01-06 16:24] ricardopereira commented on #27
You can always call `layoutSubviews()`. The `height` is automatically updated.

[2017-01-06 16:24] #27 closed

[2017-01-06 16:30] ricardopereira commented on #26
Actually, this is done automatically.

[2017-01-06 16:30] #26 closed

[2017-01-06 16:49] #25 closed

[2017-01-06 16:52] CataD256 commented on #25
Appreciate it!

[2017-01-06 16:53] ricardopereira commented on #25
You're welcome. Thanks for opening the issue.

[2017-01-06 17:36] #24 closed

[2017-01-06 17:37] ricardopereira commented on #22
Done d627d1f.

[2017-01-06 17:37] #22 closed

[2017-02-27 17:03] ricardopereira opened #32 "Customise the key button for tag creation"
Currently the `return` key is used to create a tag in the field. Should exist a way to change it, for example, to use `comma` key instead of `enter`.

[2017-03-01 20:54] sean-crowl opened #34 "Way to get text value?"
Is there currently a way to access the text value of the field itself, such as using it to implement a search function via .contains before setting a tag? For example, if I wanted to allow somebody to have the text in the field compare to another string, and if it's equal, then make it a tag.

[2017-03-02 20:09] #34 closed

[2017-03-05 17:07] ricardopereira commented on #34
You can try to use one of the events like `onDidChangeText` to accomplish that.

[2017-03-05 17:08] ricardopereira commented on #34
Well, maybe it's better to have something like `onShouldAcceptTag` where you can decide if the tag is valid or not. I will have that in mind for the next release. Thanks.

[2017-03-08 12:54] mohammadshalhoob opened #35 "how to set the tags programmatically in wstagsfield"
how to set the tags programmatically in wstagsfield ( not the user input) .

thanks for help .

[2017-03-09 08:45] ricardopereira commented on #35
@mohammadshalhoob Just use the `addTags` method like `tagsField.addTags(["Whitesmith", "iOS", "iOS", "UIKit"])`.

[2017-03-09 08:45] #35 closed

[2017-03-09 08:46] mohammadshalhoob commented on #35
thanks ricardopereira .

[2017-03-11 16:24] hamzauzumcu opened #36 "inputFieldAccessoryView with ContainerView (with UIViewController) problem"
Hi,
You can download example project here: https://goo.gl/iLtxY5
Issue reproduce steps;
1- Run project
2- Add one or more tag
3- Select one tag and delete it.

Error; 'UIViewControllerHierarchyInconsistency', reason: 'child view controller should have parent view controller:<UICompatibilityInputViewController: 0x7fc56dd4eca0> but actual parent is...

I read a lot of documents but i can't find solu

[2017-03-12 19:18] ricardopereira commented on #36
@hamzauzumcu Thanks. I will take a look.

[2017-03-13 15:06] moderateepheezy opened #37 "Not working in static TableViewController Cell"
It freezes my TableViewController when i subclass the TextField to WSTagsField in the Storyboard,
and i get the below error after the app stops

 i try subclassing in my TableViewController class only, like this
   `@IBOutlet weak var tagsTextField: WSTagsField!`
But its not putting the text in tags, treating it like normal TextField

[2017-03-13 16:46] ricardopereira commented on #37
@moderateepheezy Could you upload a functional project where I can test and debug it? Thanks

[2017-03-13 17:09] moderateepheezy commented on #37
https://github.com/moderateepheezy/testproject

you can check the project in the above link, the issue is on the EventsTab, when i click on the Plus button nav bar, the app hangs, the plus button is suppose to present to you the CreateEventVC(TableViewController) Class where i have one of the TableViewCell item as WSTagField.

  you'll see the screenshot below

<img width="280" alt="screen shot 20

[2017-04-04 12:24] rpanichkin opened #39 "Memory leaks"
I've found that using of WSTagsField leads to memory leaks: once instance of WSTagsField has been initialized it exist in memory heap till the app terminating. Same story with added instances of WSTagsViews.

[2017-04-04 13:44] ricardopereira commented on #39
@rpanichkin Will look at it, thanks.

[2017-04-04 16:34] ricardopereira commented on #39
You're right. Retain cycles 😓

[2017-04-07 11:23] #39 closed

[2017-04-07 16:32] hamzauzumcu commented on #36
@ricardopereira Did you solve the issue?

[2017-04-07 19:27] ricardopereira commented on #36
@hamzauzumcu Not yet sorry. Is this blocking you?

[2017-04-09 08:36] hamzauzumcu commented on #36
Yes, i cant continue to develop the app

[2017-04-17 09:30] mohammadshalhoob commented on #37
the same problem to me .

[2017-04-20 02:59] bopeola21 commented on #37
Same here. Its weird because there isn't a crash, the app is just non-functional aka frozen.

[2017-04-21 18:46] sahabe1 opened #41 "can i delete tag by deleteing single caharacter"
Can i delete tags by delete single- singe charatcer instead of delete single tags
also can i remove space between tags

[2017-04-21 18:57] ricardopereira commented on #41
@sahabe1 Sorry, currently you can't edit tags. You have to delete the invalid tag and create a new one. You can remove the space between tags by setting `tagsField.spaceBetweenTags = 10.0`. Hope it helps.

[2017-04-21 18:57] #41 closed

[2017-04-22 11:21] sahabe1 opened #42 "how to WSTagsField using storyboard"
can i use WSTagsField using storyboard

[2017-04-23 07:20] ricardopereira commented on #42
@sahabe1 It isn't possible right now but we will have this in mind. Thank you.

[2017-04-24 17:53] TringRajagopal opened #43 "Unable to archive app"
![wstagsfieldissue](https://cloud.githubusercontent.com/assets/24970678/25350971/90633bc0-2944-11e7-9f10-6fb37aeee466.png)

I got this issue when I try to archive my app integrated with WSTagsField framework. What can I do now? Do you have any solution for this?. It could be so helpful if you can solve the issue asap. Please let me know if any solution matches for this.

[2017-04-24 19:08] ricardopereira commented on #43
@TringRajagopal Are you using CocoaPods?

[2017-04-25 07:05] TringRajagopal commented on #43
@ricardopereira Thanks for the response..! Actually I was not integrated with CocoaPods. As I needed some customisation to your WSTagsField according to my use case, I have just imported your class files and added few delegates into it.

[2017-04-25 09:36] ricardopereira commented on #43
@TringRajagopal If you imported the class files manually then I'm 100% sure that error shouldn't be happening. What steps did you do to import the swift files?

[2017-04-25 18:30] sahabe1 opened #44 "can i apped # before creating tags"
I want to add add # before creating tags is it possible

[2017-04-26 04:43] ricardopereira commented on #44
@sahabe1 Do you want to show the `#` character to the user? Or is it just for internal purpose?

[2017-04-26 05:12] sahabe1 commented on #44
yes, want to show # character in tags

[2017-04-26 05:28] ricardopereira commented on #44
@sahabe1 Well, you can try check the text and block it using the `onVerifyTag` event and add it yourself. Something like:

[code]

[2017-04-28 17:21] sahabe1 opened #45 "can i add X button to delete tags"
I want to add X button to delete the tag is it possible

[2017-04-28 17:50] ricardopereira commented on #45
@sahabe1 It's not possible right now. Sorry.

[2017-04-28 17:51] #44 closed

[2017-04-28 18:42] ricardopereira commented on #37
I'm trying to solve this but I can't understand what's wrong. The table view blocks completely?

[2017-04-28 18:45] ricardopereira commented on #36
@hamzauzumcu That error happens when you the keyboard is showing?

[2017-04-28 20:09] bopeola21 commented on #37
Correct the app stays in a frozen state. It doesn't accept any user interactions. Check to make sure you haven't blocked the main thread.

[2017-05-15 09:04] jeff77731 opened #46 "Can I set border color of the tag"
As title, can I do that?

[2017-05-15 10:00] jeff77731 commented on #37
![2017-05-15 5 59 17](https://cloud.githubusercontent.com/assets/4278332/26052506/4cb55c5a-3998-11e7-90e5-7db89c13c474.png)
repositionViews() cost loop

[2017-05-15 14:31] ricardopereira commented on #46
@jeff77731 Currently it's not possible. Thank you for your suggestion.

[2017-05-15 15:34] ricardopereira commented on #37
Can anyone confirm that this only happen when the `WSTagsField` has constraints in the table view?

[2017-05-15 17:22] ricardopereira commented on #37
@moderateepheezy Please try `pod 'whitesmith/WSTagsField', :git => 'https://github.com/whitesmith/WSTagsField.git', :branch => 'fix-37'` and see if it works.

![may-15-2017 18-16-07](https://cloud.githubusercontent.com/assets/3541185/26070131/5e98dff2-399b-11e7-9f92-040c9b14cfd8.gif)

[2017-05-16 19:52] technicallyerik commented on #37
Came here with the same UI-locking issue, but the 'fix-37' branch addressed things for me.

One note:  When using in conjunction with auto-resizing cells, sometimes my typing will wrap to the next line, and the height won't adjust (see below).

![untitled](https://cloud.githubusercontent.com/assets/2567597/26125234/0b516178-3a47-11e7-8d22-a9ea08ab6d3e.gif)

[2017-05-16 21:23] ricardopereira commented on #37
@technicallyerik Ok, thanks. I'll try to reproduce that.

[2017-05-19 08:05] ricardopereira commented on #37
@technicallyerik I can't reproduce your problem :/ Can you build an example app please?

[2017-05-21 19:00] ZiEiTiA opened #48 "Allow modification of input view"
.inputView is  a get only variable, however in other text fields it is get set.  Is there any way it can be get set for WSTagsFields?

[2017-05-22 11:27] salabaha opened #49 "Feature request: Allow to customize appearance of WSTagView's"

[2017-06-17 01:01] fegoulart opened #50 "Feature request: Increase vertical space between lines"
Although it is possible to increase font size and horizontal space between tags, I am not managing to increase vertical line spacing.

[2017-07-07 15:28] #43 closed

[2017-07-07 16:08] ricardopereira commented on #37
I'm closing this because version [2.1.2](https://github.com/whitesmith/WSTagsField/releases/tag/2.1.2) has been released. Any other problems should result a new issue. Thanks.

[2017-07-07 16:08] #37 closed

[2017-07-12 14:16] svilon commented on #49
+1. Ability to customize is essential. Would be even better to allow subclass WSTagView and provide class as default for tag.

[2017-08-29 18:43] ricardopereira opened #52 "Swift 4 support"
Check if everything works on Swift 4.

[2017-09-24 08:10] haithngn commented on #52
I just built via Carthage, It work fine

[2017-09-24 12:12] ricardopereira commented on #52
Ok, thanks.

[2017-10-03 01:53] dlukianenko opened #53 "Feature request: Autocomplete functionality"
Hi there,
Could you please add functionality for autocomplete for tags.

Also if you don't have time to do that could you describe idea how it could be implemented so I could maybe start working on that feature.

Any help, suggestions are highly appreciated.

Thank you

[2017-10-04 10:03] ricardopereira commented on #53
@dlukianenko Thanks for opening an issue. So you want a list of available tags while typing? Can you share a mockup with the idea?

[2017-10-04 17:59] dlukianenko commented on #53
Something like [example](http://textextjs.com/manual/examples/autocomplete-with-tags.html) You have the list of suggestions and when you type it suggest you existing tags from storage or you can just create a new one without selecting nothing from the list.

I'm asking for this functionality because I need to have a place where users adds emails of people to whom he wants to share his post and I w

[2017-10-05 16:55] ricardopereira commented on #53
I need to think about it. Maybe showing a `UITableView` under the field with same width and a fixed height and filter the results by the text from the field. The table is shown when the text field is not empty (maybe using the `.EditingChanged` event).

[2017-10-05 18:50] dlukianenko commented on #53
I think this functionality will bring a good value, thank you for your response

[2017-11-09 21:36] motapuma opened #58 "Installing with Pods 2.1.2 there is not updated"
If i install WSTagsField using Pods, the code downloaded is not updated... it is not available the properties "maxHeight" for WSTagsField

[2017-11-10 11:09] ricardopereira commented on #58
@motapuma Thanks for your issue. I'll create a new version this weekend.

[2018-01-11 00:55] justinguo opened #61 "Use Cases When Integrating WSTagsField In Search Bar"
I have a few questions about how to correctly integrate WSTagsField as a search field:
1) If backspace is pressed for a partially entered text, a tag with that partial text will be added automatically. Can I disable this feature? Is editing allowed when inputing the tag?
2) Is there any way to access the index of a specific that is generated?

[2018-01-12 01:17] ricardopereira commented on #61
@justinguo A backspace will never add a tag. Are you sure about that?

@justinguo You can use the [`onDidAddTag`](https://github.com/whitesmith/WSTagsField/blob/master/Source/WSTagsField.swift#L105) event and check the index using the created tag and comparing it with all the tags.

[2018-01-12 01:41] justinguo commented on #61
@ricardopereira Thanks for the quick response.

For the backspace key deleting issue, I just found that it has been discussed and fixed in an un-merged pull request: Delete backwards fix #57.

For the index issue, I modify the source code of WSTag and add an id field with UUID value in the initializer. In this case it is more handy to access tag using id.

I actually have another weird issue:
Supp

[2018-01-12 06:23] justinguo commented on #61
By the way, is there a way to know which tag is selected? Now the onDidSelectTagView only knows if a tag in the TagView is selected, but do not know which tag in it is selected. If I would like to add a property like isSelected to the WSTag object, where would be the best place to set this property? Thanks.

[2018-01-15 01:04] ricardopereira commented on #61
Maybe it's a bug 😐 Need to check that out.

Yap, a `selectedTag` property should do it. Can you do a PR?

[2018-01-15 05:24] justinguo commented on #61
@ricardopereira

About the duplicated tag removal issue when syncing checkmarks in a table view, now I add the tagID property using UUID() once each tag is created. In this case even two tags with the same name are different (which is helpful in cases when we need to distinguish them). Also I added more checking conditions in onDidRemoveTag() and didDeselectRowAt(). Now it works as expected.

I ma

[2018-01-16 09:36] majid701 commented on #37
@ricardopereira Can this issue be reopened? I have tried to run the example code with TableViewController and there are layout issues. Also the height resize for each cell doesn't work anymore until you rotate the screen.

[2018-01-16 09:38] ricardopereira commented on #37
@majid701 Yes, sure. Do you any clue what's the issue?

[2018-01-16 15:44] majid701 commented on #37
@ricardopereira I'm still a beginner with iOS but i guess this is more an Auto layout issue. When we add the WsTagsField to a UiView the internal height changes as per need but the parent UiView's height also needs to grow. I'm not sure how this can be done in a good way.

When we use it outside a TableViewController we simply increase the constant of the heightConstraint of our UIView. Not sure w

[2018-01-17 21:55] justinguo commented on #61
@ricardopereira

Thanks for the suggestion. I just submitted the PR. Added two properties: id and isSelectedToBeRemoved. Please advise if anything I am not aware of.

[2018-01-18 00:36] justinguo commented on #61
@ricardopereira

Is there an option to disable selecting tag animation?

[2018-01-18 00:39] ricardopereira commented on #61
Thanks for the PR! I'll take a look.

@justinguo No, unfortunately there's no option currently.

[2018-01-23 23:29] justinguo opened #64 "Begin a new line during a long text field input"
Is there a feature to support automatically moving the active text field to a new line once the text field input is wider than the maximum available width remaining in the current line? (Just like the behavior in iOS Messages/Mail App)

Now the textfield will make horizontal scrolling on long content.

If not can this feature be supported in the future release? Thanks for the information.

[2018-01-26 11:14] #52 closed

[2018-01-26 12:49] ricardopereira commented on #64
@justinguo Thanks for that issue. I see what you mean but unfortunately this isn't supported right now. Let's see if any contributor wants to implement that.

[2018-01-26 12:52] ricardopereira opened #65 "Using field in a UITableView is broken"
![simulator screen shot - iphone 7 - 2018-01-26 at 12 50 49](https://user-images.githubusercontent.com/3541185/35440503-9b0a61fc-0297-11e8-867d-5ec191363803.png)

[2018-01-26 12:53] ricardopereira commented on #65
This is critical. I can't create a new release without it.

#58

[2018-01-27 09:29] Azzam-RAR opened #66 "how can I get the array of tags that were entered"
hi and thank you for the great work
I want to grab all the tags that were entered to the scrollView and send them to firebase
I tried the following -->      TagsField.tags.description
but I get an array that looks like this
theProjectName.WSTag(text: "1234"), theProjectName.WSTag(text: "abc")
how can I get only the tags like this ["1234" , "abc"]

[2018-01-27 18:11] ricardopereira commented on #66
Sure, just use that list `field.tags.map{ $0.text }`.

[2018-02-08 09:32] viral-etymon opened #67 "Xcode 7"
Does it support Xcode 7 with Swift 2.2 as I have to implement similar things in my older project.

[2018-02-08 10:03] ricardopereira commented on #67
@viral-etymon Yes, you can use it using version 1.2.5 https://github.com/whitesmith/WSTagsField/releases/tag/1.2.5

[2018-02-15 20:06] loopingGIT opened #68 "Swift 4 support, add @objc to some methods"
I am having a couple of issues with #selector on swift 4, this is the error:

I think that just adding @objc would fix this.

[code]

[2018-02-20 15:38] loopingGIT commented on #68
It is odd, because I can see the project here has the @objc, but that code is not being downloaded when I do a pod install.
This is the output on the console: _Using WSTagsField (2.1.2)_

Any help would be appreciated.

[2018-02-20 16:11] krezzoid commented on #68
@loopingGIT
`pod 'WSTagsField', git: 'https://github.com/wemap/WSTagsField.git'`

[2018-02-20 16:13] ricardopereira commented on #68
@loopingGIT Sorry but the latest version is still using Swift 3.0.

[2018-02-20 16:13] #67 closed

[2018-02-20 16:13] #66 closed

[2018-02-20 16:14] ricardopereira commented on #68
Swift 4 will be released when #65 has been fixed.

[2018-02-20 16:57] loopingGIT commented on #68
@ricardopereira thanks for the comment, I saw on the commit on the files and I thought it was already out there.

[2018-02-20 16:57] #68 closed

[2018-02-21 07:02] Qumonking opened #70 "does not work auto-increment cell"
`

    tableviewcell:
     @IBOutlet weak var tagsView: UIView!

    tableviewcontroller:

            cell = tableView.dequeueReusableCell(withIdentifier: "tagField", for: indexPath) as! AddManuallyRecipeTableViewCell

            let tagsView = cell.tagsView!
            let tagsField = WSTagsField()

            tagsField.frame = tagsView.bounds
            tagsView.addSubview(tagsField)

[2018-02-21 10:49] ricardopereira commented on #70
@Qumonking which version are you using?

[2018-02-21 11:09] Qumonking commented on #70
@ricardopereira  Using WSTagsField (2.1.2)

[2018-02-21 11:15] ricardopereira commented on #70
@Qumonking where is that code being used? `tableView(UITableView, cellForRowAt: IndexPath)` from `UITableViewDataSrouce`?

[2018-02-21 11:34] ricardopereira commented on #70
@Qumonking And you are using AutoLayout? The `Tags View` has constrains?

I'm a bit confused. What is `Tags View` type?

[2018-02-21 11:39] Qumonking commented on #70
@ricardopereira
I tried to create a new UIView and limited it from all sides to 0. Type Tags View : UIView!
<img width="1001" alt="2018-02-21 18 35 41" src="https://user-images.githubusercontent.com/35995025/36478207-8505a12e-1736-11e8-9193-3e8473d04328.png">

[2018-02-21 12:19] ricardopereira commented on #70
@Qumonking Can you send me an example project or playground to reproduce this problem?

[2018-02-21 12:48] Qumonking commented on #70
@ricardopereira yes, on email?

[2018-02-21 13:33] Qumonking commented on #70
@ricardopereira i sent to m@ricardopereira.eu

[2018-02-21 17:02] ricardopereira commented on #70
@Qumonking I don't see any email. Could you send it to ricardopereira[at]whitesmith.co please?

[2018-02-21 18:42] Qumonking commented on #70
@ricardopereira I sent to ricardopereira@whitesmith.co

[2018-02-22 14:27] Qumonking commented on #70
@ricardopereira How can I solve this problem?

[2018-02-25 05:19] Qumonking commented on #70
My problem is still unresolved

[2018-02-26 09:31] Qumonking commented on #70
I made a mistake

[2018-02-26 09:31] #70 closed

[2018-02-26 13:15] Qumonking opened #71 "How to reduce the height of a cell?"
How to reduce the distance between cells?

[2018-02-26 14:03] Qumonking commented on #71
<img width="231" alt="2018-02-26 21 03 06" src="https://user-images.githubusercontent.com/35995025/36674395-82577d8e-1b38-11e8-9ce4-b450ce6e9489.png">
![Uploading Снимок экрана 2018-02-26 в 21.03.22.png…]()

[2018-02-26 14:04] Qumonking commented on #71
<img width="247" alt="2018-02-26 21 04 08" src="https://user-images.githubusercontent.com/35995025/36674423-9efc0496-1b38-11e8-848c-584cd4f3d0fb.png">
<img width="257" alt="2018-02-26 21 03 22" src="https://user-images.githubusercontent.com/35995025/36674427-a300ca72-1b38-11e8-9b22-f9abe41455de.png">

[2018-02-26 14:06] Qumonking commented on #71
This happens after adding tags - cell.tagsField.addTags(tags), Where tags as [String]

[2018-02-28 16:52] ciccioska commented on #64
Hi, I forked the repo and I'm watching on this enhancement.

[2018-03-01 21:07] justinguo opened #72 "How to remove comma when the tag is selected"
We can use comma as separator. After selected, the comma is also shown in the tag. Is there any good practice to remove the comma or change it to the same color as the tag after selected?

Thanks for the suggestion in advance.

[2018-03-03 18:05] rahulchopra93 opened #73 "How to add this tag within the text field ?"

[2018-03-04 16:08] griffinmacias commented on #46
create a PR for this #74 @ricardopereira

[2018-03-05 18:42] ricardopereira commented on #71
@Qumonking are you using AutoLayout?

[2018-03-05 18:45] ricardopereira commented on #73
@rahulchopra93 Could you clarify your question? Thanks

[2018-03-05 18:50] ricardopereira commented on #72
@justinguo I have a PR open for this... #33

[2018-03-06 11:03] usmantararnxb opened #75 "Tag view height"
Tag View auto height is not working properly.

[2018-03-06 11:05] Qumonking commented on #71
@ricardopereira yes, only this happed

                cell.frame.size.height = height

                if self.check {
                    tableView.reloadData()
                }

                self.check = false

                tableView.beginUpdates()
                tableView.endUpdates()

[2018-03-06 16:45] ricardopereira commented on #75
@usmantararnxb Which version are you using?

[2018-03-06 16:46] ricardopereira commented on #71
@Qumonking Which version are you using? Is that WSTagsField in an UITableViewCell?

[2018-03-06 16:50] Qumonking commented on #71
@ricardopereira last version

<img width="728" alt="2018-03-06 23 48 59" src="https://user-images.githubusercontent.com/35995025/37045679-15476814-2199-11e8-8061-61fa6b7d1467.png">
<img width="742" alt="2018-03-06 23 49 10" src="https://user-images.githubusercontent.com/35995025/37045681-15708e6a-2199-11e8-8601-805a8f4b8583.png">
<img width="729" alt="2018-03-06 23 49 24" src="https://user-images.

[2018-03-16 06:44] ravikanhasoft commented on #75
@ricardopereira I am also facing a issue with tag height. In my case my tag text content is very big almost 2 lines. In this case it display in a single line tag and rest of the text is truncated with period. (The rest.......) So if is there any way to make the tag multiline as per the text content please help me.

[2018-03-29 18:49] billzhou0223 opened #76 "Request a new release to support swift 4.0"
Hey White, could you please make a new release based on swift 4.0? I saw those commits to support swift 4.0 was already in master branch.

[2018-03-30 13:24] ricardopereira commented on #76
@billzhou0223 You're using `master` with no issue? I still need to fix #65 to create a release. That's why we didn't a new version but it makes sense to have one. What's your deadline? Just manage my time with your expectation.

[2018-03-30 13:25] ricardopereira commented on #75
@ravikanhasoft With the latest version?

[2018-03-30 13:25] #73 closed

[2018-03-30 13:54] ravikanhasoft commented on #75
@ricardopereira  Yes with a latest version.  You can see from this Screen shot.

![screen shot 2018-03-30 at 7 23 25 pm](https://user-images.githubusercontent.com/29453207/38140099-f2e474e6-344f-11e8-83ed-2532257f68f6.png)

[2018-03-30 14:02] ricardopereira commented on #75
Oh, now I see what you mean. Thanks for your screenshot. This library isn't ready to word-wrap a tag. Sorry. Even so, I'll open an issue for that and let's see if anyone from the community wants to implement that.

[2018-03-30 14:05] ricardopereira opened #77 "Tag multiline (word-wrap the tag label)"
This request was mentioned in #75

![screen shot 2018-03-30 at 7 23 25 pm](https://user-
images.githubusercontent.com/29453207/38140099-f2e474e6-344f-11e8-83ed-2532257f68f6.png)

[2018-03-30 14:06] #75 closed

[2018-03-31 00:59] billzhou0223 commented on #76
@ricardopereira I am consuming master branch and it is working fine in our project. Actually I made some changes on `WSTagsField` and `WSTagsView` and added some new api based on the requirements of our project. Not sure if this solves the issue? Anyway I will make a pull request so you can take a look.

Our next release will be on Apr 15. Thank you so much for your time.

[2018-04-05 20:35] JoaoManaroulas opened #79 "2.2.0 going to be released/uploaded to CocoaPods anytime soon?"
Title.

Asking this as it looks like in 2.2.0 you can set a max height so the view doesn't goes 2 or more lines.

Is there any way to set a maximum height for the WSTagsField on 2.1.2? Would appreciate if the view respects its superview maximum height.

Att;

[2018-04-06 11:53] ricardopereira commented on #79
@JoaoManaroulas Yes, it will be today. Hopefully.

Yes, with a height constraint.

[2018-04-06 12:07] JoaoManaroulas commented on #79
@ricardopereira Oh, nice! Thank you 👍

I was thinking of something as in the 2.2.0 version, but yeah, a height constraint works.

[2018-04-07 13:49] own2pwn opened #80 "Space between tags"
Hi,

Is it possible to change space between tags?
Looks like there is a `FIELD_MARGIN_X` constant here but it's not used anywhere in the code.

I've also searched for occurrences of `VSPACE` and tried to add `HSPACE` by analogue but with no success.

[2018-04-07 13:51] own2pwn commented on #80
Oh, I didn't notice that TF has `spaceBetweenTags` property on it

[2018-04-07 13:51] #80 closed

[2018-04-07 13:54] own2pwn opened #81 "Unused constant (FIELD_MARGIN_X)"
Hi,

Looks like there is a `FIELD_MARGIN_X` constant here but it's not used anywhere in the code.

Just wanted to draw your attention to it.

[2018-04-09 18:27] #65 closed

[2018-04-09 18:35] ricardopereira commented on #76
Version 3.0.0 (Swift 4) has been released. Thanks for your patience. https://github.com/whitesmith/WSTagsField/releases/tag/3.0.0

[2018-04-09 18:35] #76 closed

[2018-04-09 18:35] ricardopereira commented on #79
Version 3.0.0 (Swift 4) has been released. Thanks for your patience. https://github.com/whitesmith/WSTagsField/releases/tag/3.0.0

[2018-04-09 18:35] #79 closed

[2018-04-09 18:36] ricardopereira commented on #81
Thanks! It has been removed in the latest version. https://github.com/whitesmith/WSTagsField/releases/tag/3.0.0) you can now define the `layoutMargins` to

[2018-04-09 18:36] #81 closed

[2018-04-09 18:38] ricardopereira commented on #71
A new version has been released https://github.com/whitesmith/WSTagsField/releases/tag/3.0.0. Can you please check if this has been fixed? If not, then reopen the issue please. Thanks!

[2018-04-09 18:38] #71 closed

[2018-04-09 18:38] ricardopereira commented on #58
Version 3.0.0 (Swift 4) has been released. Thanks for your patience. https://github.com/whitesmith/WSTagsField/releases/tag/3.0.0

[2018-04-09 18:38] #58 closed

[2018-04-09 18:40] ricardopereira commented on #36
Closed because of inactivity. If the problem persists, feel free to reopen the issue. Thanks.

[2018-04-09 18:40] #36 closed

[2018-04-09 21:45] abufaeys commented on #27
i have the same bug , can you please  Let me know if you have any suggestions .
thasnks
![image uploaded from ios](https://user-images.githubusercontent.com/5054059/38524759-6b757864-3c58-11e8-81bc-d78ccc3a12c9.jpg)

[2018-04-09 22:05] ricardopereira commented on #27
@abufaeys Which version are you using?

[2018-04-09 22:06] ricardopereira commented on #27
If you using the latest one, then you can use the `spaceBetweenLines` and give a bigger space between each line or you can shrink the tag view using the `layoutMargins` with negative values.

[2018-04-09 22:06] abufaeys commented on #27
last version  .

[2018-04-09 22:08] ricardopereira commented on #27
Check my latest comment and see if that helps. Thanks

[2018-04-09 22:11] abufaeys commented on #27
ok i will check it , thank you

[2018-04-09 22:51] ricardopereira commented on #50
Yes, you can change the font and use `spaceBetweenLines` property for that effect. Thanks

[2018-04-09 22:51] #50 closed

[2018-04-09 22:52] ricardopereira commented on #48
Not at the moment. Sorry.

[2018-04-09 22:53] #46 closed

[2018-04-09 22:53] #32 closed

[2018-04-09 22:54] #72 closed

[2018-04-09 22:54] #61 closed

[2018-04-09 22:55] ricardopereira commented on #64
Related to #77

[2018-04-09 22:55] #64 closed

[2018-04-09 23:28] ricardopereira commented on #32
Released https://github.com/whitesmith/WSTagsField/releases/tag/3.1.0

[2018-04-10 05:52] jeudesprits opened #82 "How add only horizontal scroll on WSTagsField, not vertical?"
How add only horizontal scroll on **WSTagsField**, not vertical? I think the horizontal scroll is much more usable than the vertical one. Is it possible to make only a horizontal scroll?

[2018-04-10 08:43] ricardopereira commented on #82
@jeudesprits That feature is not available. Sorry.
If some wants to implement it, I'm happy to review that. Thanks.

[2018-04-10 08:44] ricardopereira commented on #48
If someone wants to implement that, then I'm happy to review that. Thanks.

[2018-04-10 09:34] abufaeys opened #83 "textAlignment tag textField"
### Which version of the WSTagsField are you using?
E.g. `3.1.0`
3.1.0
### On which platform does the issue happen?
E.g. `iOS11`
ios 11
### Are you using Carthage?
If yes, specify the version (`carthage version`)
no
### Are you using Cocoapods?
If yes, specify the version (`pod --version`)
1.4.0
### Which version of Xcode are you using?
(`xcodebuild -version`)
Xcode 9.2
Build version 9C40b
### Wha

[2018-04-10 11:12] ricardopereira commented on #83
@abufaeys Ok, I'll add this. Thanks!

[2018-04-10 14:28] ricardopereira opened #84 "Remove the .swift-version file"
Remove the .swift-version file which is now deprecated and only use the attribute within the podspec.

[2018-04-13 09:26] own2pwn opened #85 "Keyboard crash"
### Which version of the WSTagsField are you using?
`3.1.0`

### On which platform does the issue happen?
`iOS 11.2.1`

### Which version of Xcode are you using?
`Xcode 9.2`

### What did you do?
When selecting tags by tap or deleting them (so prev. gets selected) keyboard glitches first (it changes between standard and custom (Gboard in my case) ). And after some selections it becomes completely

[2018-04-13 09:29] own2pwn opened #86 "Animation (CGTransform) Issue"
### Which version of the WSTagsField are you using?
`3.1.0`

### On which platform does the issue happen?
`iOS 11.2.1`, `Simulator`

### Which version of Xcode are you using?
`Xcode 9.2`

### What did you do?
When selecting any tag for the first time it's tag label gets truncated I guess due to layer's transform? You may notice that in the beginning of video I've provided in #85

[2018-04-16 09:25] ricardopereira commented on #86
@own2pwn Thanks for the issue! Sorry, I didn't noticed what you explained. Could you share a screenshot?

[2018-04-17 13:32] abufaeys opened #87 "cant add placeholder when remove all tag"
### Which version of the WSTagsField are you using?
3.1.0

### On which platform does the issue happen?
iOS11

### Are you using Carthage?
no

### Are you using Cocoapods?
1.4.0

### Which version of Xcode are you using?
Xcode 9.2
Build version 9C40b
### What did you do?
cant add placeholder when remove all tag .
Add a short snippet of code to show the problem
 self.tagView.placeholderAlwaysVisibl

[2018-04-17 18:52] Gerst20051 commented on #27
Sorry @ricardopereira that I wasn't able to get back to you on this. Will see if I can look into it again soon.

[2018-04-18 18:45] ricardopereira commented on #84
https://github.com/google/promises/blob/72752c7f23ca0d5f458134c27de3ae2fc4b08e68/PromisesSwift.podspec#L19

[2018-04-24 23:47] vasylboy90 opened #88 "How can i center align of tags?"
### Which version of the WSTagsField are you using?
3.1.0

### On which platform does the issue happen?
iOS 11

### Are you using Carthage?
No

### Are you using Cocoapods?
No
I only downloaded this and run sample project.

### Which version of Xcode are you using?
9.3

### What did you do?
How can i align center of tags?

### What did you expect to happen?
I hope to align center of tags and place

[2018-04-25 10:16] ricardopereira commented on #88
@vasylboy90 There's now option for that at the momento Sorry. I'll have that in consideration for a future feature. Thanks.

[2018-04-25 10:16] #88 closed

[2018-05-04 13:10] abufaeys commented on #87
yes it work in example app , but i don't  know why its not work in my app .
i will check my code again .
thank you .

[2018-05-04 13:12] ricardopereira commented on #87
@abufaeys Great. Feel free to reopen this issue if you can't find the answer/problem of yours.

[2018-05-04 13:12] #87 closed

[2018-05-09 08:10] majid701 commented on #53
@ricardopereira @dlukianenko @AgentWS
I think this library could be used to implement it: https://github.com/apasccon/SearchTextField

I'm going to make a fork of this now and try it.

[2018-05-18 13:44] ricardopereira commented on #85
@own2pwn I can't reproduce this in the simulator. Could you arrange me an example or give more details on how to reproduce the issue please? Thanks

[2018-05-25 06:33] gkhanacer opened #89 "Change Font Size"
### Which version of the WSTagsField are you using?
 WSTagsField (3.1.0)

### On which platform does the issue happen?
iOS11

### Are you using Carthage?
NO

### Are you using Cocoapods?
YES 1.5.0

### Which version of Xcode are you using?
Xcode 9.3
Build version 9E145

### What did you do?
I want to change font size of tag. I couldn't do it. Could you help me, please?

tagsField.font = UIFont(nam

[2018-05-27 13:59] abufaeys opened #90 "NSKVODeallocate crash"
### Which version of the WSTagsField are you using?
3.1

### On which platform does the issue happen?
iOS11

### Are you using Carthage?
no

### Are you using Cocoapods?
yes

### Which version of Xcode are you using?
Xcode 9.2
Build version 9C40b

### What did you do?
i have crash with this log
Fatal Exception: NSInternalInconsistencyException
An instance 0x103185600 of class WSTagsField.WSTagsFie

[2018-05-27 22:09] ricardopereira commented on #90
@abufaeys Thanks! I'll look at it.

[2018-05-28 09:14] gkhanacer opened #91 "Using WSTagField in Custom Table View."
### Which version of the WSTagsField are you using?
`WSTagsField (3.1.0)`

### On which platform does the issue happen?
`iOS11`

### Are you using Carthage?
`no`

### Are you using Cocoapods?
`1.5.0`

### Which version of Xcode are you using?
(`Xcode 9.3`)

### What did you do?

I want to add WSTagField in a custom TableView cell.
I put a UIView and init tagField features (lineNumber = 0, etc.). A

[2018-05-28 11:49] ricardopereira commented on #91
@gkhanacer There's an example using TableView in the Demo app of this repository. Did you look at it? Is it what you're looking for? Thank you

[2018-05-28 12:02] ricardopereira commented on #89
@gkhanacer `tagsField.font = UIFont.systemFont(ofSize: 9)` is working for me.

![simulator screen shot - iphone 6s - 2018-05-28 at 13 02 04](https://user-images.githubusercontent.com/3541185/40613651-53948c54-6277-11e8-813e-a1a0c6f82f1f.png)

[2018-05-28 12:03] ricardopereira commented on #89
@gkhanacer Where are you adding the code?

[2018-05-29 14:09] #89 closed

[2018-05-29 14:09] ricardopereira commented on #85
Please reopen this if it stills happens. Thanks

[2018-05-29 14:09] #85 closed

[2018-05-29 14:11] ricardopereira commented on #86
Please reopen this if it still happens. Thanks.

[2018-05-29 14:11] #86 closed

[2018-05-29 14:12] ricardopereira commented on #91
Please look at https://github.com/whitesmith/WSTagsField/blob/master/Example/WSTagsFieldExample/TableViewController.swift

Thanks!

[2018-05-29 14:12] #91 closed

[2018-06-06 11:41] Pe-te opened #92 "sizeToFit not implemented"
Hi, I'm trying to calculate the height the WSTagsField needs in my view, any way to get that easily? I tried using sizeThatFits, but it seems not implemented and  is returning 0:

        let fullSize = CGSize(width: width, height: CGFloat.greatestFiniteMagnitude)
        var totalHeight: CGFloat = 0.0
        totalHeight += titleLabel.sizeThatFits(fullSize).height // this works fine for a normal

[2018-06-06 12:38] ricardopereira commented on #92
@Pe-te Yes, you're right. `sizeThatFits` implementation is missing 😕 Let me see if I can fix that today.
Thanks for opening an issue.

[2018-06-06 14:29] Pe-te opened #93 "Feature Request: Case insensitive comparison"
Hi, would be cool if WSTag could do the equals comparison case insensitive, maybe like this?

[code]

[2018-06-07 05:26] furqan1144 opened #94 "how to get array of tags?"
### Which version of the WSTagsField are you using?
E.g. `1.0.11`

### On which platform does the issue happen?
E.g. `iOS11`

### Are you using Carthage?
If yes, specify the version (`carthage version`)

### Are you using Cocoapods?
If yes, specify the version (`pod --version`)

### Which version of Xcode are you using?
(`xcodebuild -version`)

### What did you do?
Describe the problem.
[code]

##

[2018-06-07 06:41] furqan1144 commented on #94
help..

[2018-06-07 11:12] ricardopereira commented on #94
@furqan1144 Just use `tagsField.tags`. If you want strings then do `tagsField.tags.map{ $0.text }`.

[2018-06-07 11:12] #94 closed

[2018-06-07 11:41] Pe-te commented on #92
Take your time, guess that's a tricky one!

For now I am using a workaround with onDidChangeHeightTo where I store the value in a global variable, but that feels really messy, so a clean solution would be very welcome.

[2018-06-07 23:36] ricardopereira commented on #92
@Pe-te Implemented eb54068ff23ec27326f73125c4962e7a6f3925c5.
Could you please test using the `master` branch. Thanks!

[2018-06-08 00:29] ricardopereira commented on #90
@abufaeys Well, since you're using iOS 11 and since that version invalidate all observers automatically, then I'm suspect that you're facing a retain cycle where the `WSTagsField` instance remains allocated and so the observer. So, for example, if you have something like:

[code]
^ This will cause a retain cycle because the `tableView` is holding the cells and, by assigning that closure, the `tags

[2018-06-08 00:58] #90 closed

[2018-06-08 01:00] ricardopereira commented on #84
Done https://github.com/whitesmith/WSTagsField/commit/14338e327015da58166adb032e772efbc936d139

[2018-06-08 01:00] #84 closed

[2018-06-08 01:04] ricardopereira commented on #83
@abufaeys What's the intention. To only align the TextField text or align all the elements of the TagsField?

[2018-06-08 07:53] abufaeys commented on #83
only align the TextField text , but if we can align all the elements of the TagsField this wil be better  .

[2018-06-09 22:16] Pe-te commented on #92
Cool, will check first thing monday morning!

I'm not using insets, but don't you need to subtract left and right from the width? I could be wrong though, haven't looked at the code in detail yet.

[2018-06-11 10:47] ricardopereira commented on #92
@Pe-te That's a good point. Does the `UILabel` have in consideration the insets for the width size?

[2018-06-11 10:48] ricardopereira commented on #93
@Pe-te Nice one! Thanks 👍

[2018-06-11 10:49] ricardopereira commented on #83
@abufaeys  Align the TextField text is an easy change. Align all the elements will take more time.

[2018-06-11 16:30] Pe-te commented on #92
You mean the UILabel titleLabel in my example above? I'm not setting any insets there, so it has the default insets. But it looks like you cannot just modify label insets by default anyway.

For WSTagsField I use the following insets. Works as expected, thanks!

        // outer padding for whole tagsField
        tagsField.contentInset = UIEdgeInsets(top: 0, left: 0, bottom: 0, right: 0)

[2018-06-13 09:44] Pe-te commented on #93
#96

[2018-06-13 14:16] ricardopereira commented on #93
Thank you, I'll look at the PR.

[2018-06-13 14:17] ricardopereira commented on #92
@Pe-te Thanks for the feedback. I'll look at it.

[2018-06-13 22:29] #93 closed

[2018-07-04 00:45] bellebethcooper opened #97 "Feature request: Allow multiple tag accept options"
Hi,

I'd like to use all three of the possible `WSTagAcceptOption` cases but I can't find a way to do this currently without modifying the internals of the library.

Thanks!

[2018-07-04 01:01] bellebethcooper commented on #97
Just wanted to update that I did find a way to make it work. I'm using `onDidChangeText` to do the following:

[code]

[2018-08-19 01:54] mochat97 opened #100 "Feature Request: Ability to select multiple tags at a time"
### Which version of the WSTagsField are you using?
3.1.0

### On which platform does the issue happen?
E.g. `iOS11`

### Are you using Carthage?
No

### Are you using Cocoapods?
1.4.0

### Which version of Xcode are you using?
Xcode 9.4.1

### What did you do?
I'm trying to allow multiple tags to be selected. What I have tried to do is override `selectTagView(_ tagView: WSTagView, animated: Bool)

[2018-08-19 02:27] mochat97 commented on #100
Looks like the first culprit is `resignFirstResponder()`. I commented out the `selected = false` and it allows multiple selections. Now to unselect...

[2018-08-23 09:35] abufaeys opened #101 "It's not removing the `layerBoundsObserver` correctly in iOS 11"
### Which version of the WSTagsField are you using?
3.1

### On which platform does the issue happen?
iOS11

### Are you using Carthage?
no

### Are you using Cocoapods?
1.5.3

### Which version of Xcode are you using?
Xcode 9.4.1
Build version 9F2000

### What did you do?
 its good idea to  remove Observer in ios 11 , please check .
https://stackoverflow.com/questions/46782372/ios-11-what-the-kvo

[2018-08-27 17:55] hunasdf commented on #101
+1
Sometimes I got KVO_IS_RETAINING_ALL_OBSERVERS_OF_THIS_OBJECT_IF_IT_CRASHES_AN_OBSERVER_WAS_OVERRELEASED_OR_SMASHED crash. I edited the deinit function to
[code]

and evertything works good! :)

[2018-08-28 07:32] ricardopereira commented on #101
@hunasdf @abufaeys Thank you!

I was convinced that iOS 11 and later would remove the `observer` automatically but if that doesn't work then I'll change the code.

[2018-08-28 07:34] ricardopereira commented on #101
- [ ] Other observers should be checked.

[2018-08-28 08:05] rajendersha opened #102 "Keyboard changes automatically while deleting/selecting tags."
### Which version of the WSTagsField are you using?
its latest one

### On which platform does the issue happen?
iOS11.4.1

### Are you using Carthage?
No

### Are you using Cocoapods?
No

### Which version of Xcode are you using?
xCode 9.4

### What did you do?
Following is use case to reproduce this bug:

Set keyboard type to 'phonePad' of the WSTagsField. Then add some tags into the same field,

[2018-09-13 11:08] amatig opened #103 "Crash open/close viewcontroller modal"
### Which version of the WSTagsField are you using?
3.1.0

### On which platform does the issue happen?
iOS11

### Are you using Cocoapods?
1.5.3

### Which version of Xcode are you using?
Xcode 9.4.1
Build version 9F2000

### What did you do?
I have used a code like the example. A View IBOutlet where I add the WSTag.
This is on a ViewController opened on modal, storyboard with segue.
If I repeat

[2018-09-13 11:41] ricardopereira commented on #103
@amatig Thank you for opening the issue. Please, could you add a reproducible project example or at least a stack trace to get any information of the crash? 👍

[2018-09-13 11:42] ricardopereira commented on #102
@rajendersha Thanks! Could you add a reproducible project example or at least a stack trace to get any information of the crash, please? 👍

[2018-09-13 11:50] amatig commented on #103
https://ibb.co/jZKYPp

If you change the example code to open a viewcontroller embedded in a navigation bar, with a close button, and you open and close you receive a crash on UIApplication delegate.

[2018-09-13 16:15] ricardopereira commented on #103
@amatig Thanks, I'll look at those.

[2018-09-14 16:28] amatig commented on #103
Now it works

[2018-09-14 17:00] ricardopereira commented on #103
@amatig with the latest fix works?

[2018-09-14 17:00] #103 closed

[2018-09-14 17:01] ricardopereira commented on #101
@abufaeys Please check the latest version.

[2018-09-14 17:01] #101 closed

[2018-09-14 17:02] ricardopereira commented on #102
@rajendersha Bump.

[2018-10-27 10:50] wousser opened #106 "Actionsheet overlay triggers WSTagsField animation and renders tags in gray"
### Which version of the WSTagsField are you using?
4.0.0

### On which platform does the issue happen?
iOS 12

### Are you using Carthage?
Carthage, latest

### Are you using Cocoapods?
No

### Which version of Xcode are you using?
Xcode latest

### What did you do?
See title

Add a short snippet of code to show the problem
- Have a tag field with multiple tags
- Trigger an action sheet overlay

[2018-11-02 16:52] ricardopereira commented on #106
@wousser Thank you for opening an issue. Could you share an example project please?

[2018-11-02 16:54] #102 closed

[2018-11-07 08:47] hardikamal commented on #42
@ricardopereira Any update on this?

[2018-11-07 10:51] ricardopereira commented on #42
Something to be done, unfortunately.

[2018-11-08 04:50] sachithamh opened #107 "textContentType"
### Problem description

can't access textContentType attribute in WSTagsField class

### Preferred solution
fileprivate let textField = BackspaceDetectingTextField() ;
make this as public

[2019-01-04 01:52] ricardopereira commented on #100
@mochat97 I have no time available to implement this. Can you fork and do the change please? I can review it. Thanks

[2019-01-06 04:01] mochat97 commented on #100
Done

[2019-02-14 10:06] jamesyorke opened #109 "reloadInputViews causes keyboard to close"
### Problem description

tagsField.reloadInputViews() closes the keyboard. This is different from usual textField functionality and prevents any custom input accessory views from being reloaded on the fly.

### Preferred solution

Either making tagsField.textField public, or adding a method that enables you do reload it

[2019-02-14 10:41] jamesyorke commented on #109
Created this PR to fix the issue #110
🔢

[2019-02-15 15:35] #109 closed

[2019-03-13 17:25] boldlion opened #111 "Getting the string value from the text field?"
I've read previous questions but I didn't quite understand how to get the string value. I tried the following but it returns an empty string:

[code]

I want to able to get each value the user enters and then add it to an array. How can I do that?

[2019-03-14 07:52] ricardopereira commented on #111
@boldlion If you need an array of String then you can do `tagsField.tags.map({$0.text})`.

Even so, you can have access the value using the `tag` attribute sent to **`onDidAddTag`**:

[code]

[2019-03-14 07:52] #111 closed

[2019-04-02 09:21] ricardopereira opened #112 "Swift 5"
Support for Swift 5 and Xcode 10.2.

[2019-04-20 18:54] dashared commented on #112
Are there any news about that problem?

[2019-04-26 13:05] ricardopereira commented on #112
@dashared I'll try to do it this weekend.

[2019-05-07 15:25] #112 closed

[2019-05-08 08:26] Pirokar opened #114 "How to show keyboard in the field from code?"
Which version of the WSTagsField are you using?
4.1.0
On which platform does the issue happen?
iOS12

Are you using Carthage?
no

Are you using Cocoapods?
yes

Which version of Xcode are you using?
(xcodebuild -version)

What did you do?
Impossible to show keyboard automatically

[2019-05-08 08:27] Pirokar commented on #114
Which version of the WSTagsField are you using?
4.1.0
On which platform does the issue happen?
iOS12

Are you using Carthage?
no

Are you using Cocoapods?
yes

Which version of Xcode are you using?
(xcodebuild -version)

What did you do?
Impossible to show keyboard automatically

[2019-05-08 08:37] Pirokar commented on #114
Oh, sorry, I found the solution. beginEditing().

[2019-05-08 08:37] #114 closed

[2019-05-08 14:21] amatig opened #115 "New update 5.0.0 nothing works"
### Which version of the WSTagsField are you using?
5.0.0

### On which platform does the issue happen?
iOS12.2

### What did you do?

With the new version the app crash on:

self.tagsField.placeholder = ""
self.tagsField.placeholderAlwaysVisible = true

and

self.tagsField.onTextFieldDidChange(self.tagsField)
self.tagsField.endEditing()

EXC_BAD_ACCESS

[2019-05-08 14:48] #115 closed

[2019-05-08 14:49] amatig commented on #115
I have just clean up everything. Now it's ok

[2019-07-15 11:13] bkunarola commented on #45
Is there any update on this?

[2019-07-15 12:53] ricardopereira commented on #45
@bkunarola It's in our roadmap.

[2019-07-16 10:25] mroffmix opened #119 "Terminating app due to uncaught exception 'NSRangeException', reason: 'Cannot remove an observer <_NSKeyValueObservation 0x600001be8150> for the key path "layer.bounds" from <WSTagsField.WSTagsField 0x7fad1b119000> because it is not registered as an observer.'"
iOS 13 beta 3
Xcode Version 11.0 beta (11M336w)

Looks like this issue happens during removeObserver into deist of class WSTagsField
` deinit {
        if let observer = layerBoundsObserver {
            removeObserver(observer, forKeyPath: "layer.bounds")
            observer.invalidate()
        }
    }
`

<img width="710" alt="Screen Shot 2019-07-16 at 3 21 31 PM" src="https://user-images.githu

[2019-07-16 10:37] ricardopereira commented on #119
@mroffmix Thanks. I’ll have a look.

[2019-07-19 15:30] amatig opened #120 "remove autocorrection"
Latest version.

I have disabled every think about autocorrection but the system still show the suggestion above the keyboard.
This happen then you press back to remove the tag and wstagsfield select a tag.

https://imgshare.io/image/lOEHK

[2019-07-19 17:35] ricardopereira commented on #120
@amatig Can you share your code about `WSTagsField`? What are your settings?

[2019-07-28 09:53] tristanmellett opened #121 "Keyboard Appearance reverting to default on delete"
### Which version of the WSTagsField are you using?
E.g. `1.0.11`

### On which platform does the issue happen?
iOS11

### Are you using Cocoapods?
Yes, up to date version

### Which version of Xcode are you using?
Xcode 11.0

### What did you expect to happen?
I expect the keyboard to stay what Ive set it to. ie, maintain .dark appearance

### What happened instead?
When deleting a WSTagField the

[2019-07-29 08:56] tristanmellett commented on #121
![67293126_333015420941033_3588343754450272256_n](https://user-images.githubusercontent.com/43564942/62035065-41947980-b22e-11e9-8c9d-99c56d573fb3.png)
![67736964_367694037227135_3556724445735288832_n](https://user-images.githubusercontent.com/43564942/62035067-41947980-b22e-11e9-99f2-fba6ad4459b5.png)

[2019-07-29 09:48] ricardopereira commented on #121
@tristanmellett Could you add more details please?

[2019-07-29 10:02] tristanmellett commented on #121
On which platform does the issue happen?
       The issue is occurring on IOS. When using Xcode.
Which version of the WSTagsField are you using?
       I am using the most up to date version of WSTagsField (I believe 5.0.0)
What did you expect to happen?
       I would like the keyboard to maintain the same the entire time (.dark) with the word assists.
What happened instead?
       It is converti

[2019-07-29 10:44] ricardopereira commented on #121
@tristanmellett on which iOS version?

But it's you that is changing the colors of the TagsField right?
Can you share an example project or snippet code to reproduce the issue?

[2019-07-29 11:49] tristanmellett commented on #121
@ricardopereira on iOS 12.0

I am happy with the tags field colour. The keyboard appearance is changing and I don't want that to happen.

tagsField.frame = tags.bounds
        tags.addSubview(tagsField)
        tags.backgroundColor = .clear
        tagsField.cornerRadius = 3.0
        tagsField.spaceBetweenLines = 5
        tagsField.spaceBetweenTags = 10
        tagsField.layoutMargins = UIEdgeIn

[2019-08-03 05:02] tristanmellett commented on #121
@ricardopereira have you figured out why its doing this still?

[2019-08-03 12:53] herschel1105 opened #122 "Feature Request: cornerRadius of TagViews"
I wish there was a way to change the radius of tag views!!!
But I love this TagsFields so much!!!

[2019-08-04 16:41] RafaelKayumov commented on #119
Any progress on this yet?

[2019-08-26 10:02] beingbarath commented on #119
Any Progress. I am facing the same issue

[2019-09-09 13:26] mroffmix commented on #119
just do these changes to WSTagsField.swift
` deinit {
        if #available(iOS 13, *) {
        } else {
            if let observer = layerBoundsObserver {
                removeObserver(observer, forKeyPath: "layer.bounds")
                observer.invalidate()
            }
        }
    }`

[2019-09-09 22:48] ricardopereira commented on #119
Folks, this is already fixed in `master` https://github.com/whitesmith/WSTagsField/commit/3776d5d9ec925fafa813882ae2e9270a92507a45

A release will be out tomorrow when the final Xcode 11 is out.

[2019-09-09 22:48] #119 closed

[2019-09-09 22:49] ricardopereira commented on #120
@amatig Please reopen this issue if this is still happening. Thank you

[2019-09-09 22:49] #120 closed

[2019-09-09 23:08] ricardopereira commented on #122
@herschel1105 You can change the radius using `tagsField.cornerRadius = 3.0` 😊

[2019-09-09 23:08] #122 closed

[2019-09-11 04:20] Skyzwing opened #124 "If select tag and pickker image"
### What did you do?
When i choose image from library wstagfield is cach.
[code]

### What did you expect to happen?
don't cach when pickker image
**If i want select tag is delete tag. Did you know

### What happened instead?
error cach

[2019-09-11 09:55] ricardopereira commented on #124
@Skyzwing Thank you for opening a issue. Could you send me a code example or a project where I can reproduce your issue?

[2019-09-11 11:24] Skyzwing commented on #124
### When I selected tag and i choose image from library

button trigger change image
[code]
this method call pickker image from library

[code]

[2019-09-11 23:34] ricardopereira commented on #124
@Skyzwing So a crash will happen if you open the `UIImagePickerController` when you select a tag? Is that it?

[2019-09-12 02:26] Skyzwing commented on #124
yes

[2019-09-12 08:16] renatokorez opened #125 "Crash when trying to remove layerBoundsObserver."
### WSTagsField version
`1.0.11`

### Platform
`iOS13`

### Xcode version
Xcode 11.0
Build version 11A419c

Crash when trying to remove layerBoundsObserver.

`*** Terminating app due to uncaught exception 'NSRangeException', reason: 'Cannot remove an observer <_NSKeyValueObservation 0x280944900> for the key path "layer.bounds" from <WSTagsField.WSTagsField 0x10e906600> because it is not registered

[2019-09-12 10:01] #125 closed, assigned to nobody

[2019-09-18 18:43] #121 closed

[2019-09-18 18:50] ricardopereira commented on #121
I finally fixed it! Thank you for your patience. A new release will be out soon.

[2019-09-18 22:38] ricardopereira commented on #124
Sorry, I couldn't reproduce this issue.

BTW, we did a new release. Please try it out: https://github.com/whitesmith/WSTagsField/releases/tag/5.1.0

Maybe it fixes your issue. If not then please reopen the issue.
Thanks!

[2019-09-18 22:38] #124 closed

[2019-09-18 22:38] ricardopereira commented on #121
New version is out https://github.com/whitesmith/WSTagsField/releases/tag/5.1.0

[2019-09-18 22:39] ricardopereira commented on #102
We finally fixed this issue: https://github.com/whitesmith/WSTagsField/releases/tag/5.1.0

[2019-09-19 04:37] Skyzwing commented on #124
No problem.
but it's not work
this my flow
1. select tag
[image: Screen Shot 2562-09-19 at 11.30.03.png]
2. click button to photolibrary
[image: Screen Shot 2562-09-19 at 11.30.12.png]
3. choose image
[image: Screen Shot 2562-09-19 at 11.30.23.png]

after that -> it's crash
[image: Screen Shot 2562-09-19 at 11.30.32.png]

Thank you so much for fixed it

On Thu, Sep 19, 2019 at 5:38 AM Ricardo Pere

[2019-09-19 14:03] tristanmellett commented on #102
Ricardo,

Thank you very much for your hard work and dedication to accomplishing and
fixing this!

Regards,
T

On Thu, Sep 19, 2019 at 8:09 AM Ricardo Pereira <notifications@github.com>
wrote:

[2019-10-01 03:32] jitendraIntesols opened #126 "XCode 11.0, Swift 5.0 (Memory and Cpu usage 100%), app crashed or stucked"
### Which version of the WSTagsField are you using?
E.g. `1.0.11`

### On which platform does the issue happen?
iOS 13

### Are you using Carthage?
No

### Are you using Cocoapods?
1.6.0

### Which version of Xcode are you using?
Xcode 11.0

### What did you do?

### What did you expect to happen?

How to fix it?
app crash on real iPhone device and simulator app stucked

[2019-10-01 16:47] Masaokb opened #127 "Crashes occur in iOS versions except for iOS13"
### Which version of the WSTagsField are you using?
5.1.0

### On which platform does the issue happen?
Except for iOS13

### Are you using Carthage?
[code]

### Which version of Xcode are you using?
[code]

### What did you do?
I had observed that WSTagsField `4.x.x` crashes in iOS13.
I replace its version to latest one, then crashes disappear in iOS13, but on the other hand crashes occur in iOS

[2019-10-01 18:53] ricardopereira commented on #127
@Masaokb Thanks for opening an issue. It's probably a regression.

[2019-10-02 15:38] ricardopereira commented on #127
@Masaokb Do you have any stack trace about your crash?

I tested on iOS 13.1 (17A844), iOS 12.2 (16E226), iOS 11.4 (15F79) and iOS 10.3.1 (14E8301) and everything went fine.

[2019-10-02 15:39] ricardopereira commented on #127
@Masaokb BTW, do you use different Swift versions?

[2019-10-03 05:03] Masaokb commented on #127
@ricardopereira

It seems to be weird...

I think the package was compiled in Swift5.1, or the same version used in the app.

Almost all crashes I've observed in development are caused by EXC_BAD_ACCESS.
Below are examples of Crashlytics reports I got in production.

[code]

[code]

[code]

[2019-10-03 10:16] ricardopereira commented on #127
@Masaokb Please see if https://github.com/whitesmith/WSTagsField/releases/tag/5.1.1 fixes your issue. Thanks

[2019-10-03 16:04] Masaokb commented on #127
@ricardopereira Now the crashes don't occur! Thank you so much for your help:)

[2019-10-03 16:39] ricardopereira commented on #127
Great, np 😊 I'll close this.

[2019-10-03 16:39] #127 closed

[2019-10-18 18:54] EugeneEl commented on #126
I've found the reason of this issue. It happens due to infinite layout loop.

Go to the Product menu, hold down Option, and choose “Run…”
Select the Arguments tab, and click + to add a new entry
For iOS apps enter -UIViewLayoutFeedbackLoopDebuggingThreshold 100

[2019-10-19 19:35] ricardopereira commented on #126
@EugeneEl @jitendraIntesols Could you share a snippet code or an example project to be able to reproduce the issue?

[2019-10-30 16:44] alexander1031 opened #128 "How to add observer for the WSTagsField"
I created ViewController including WSTagsFields.
When I dismiss the current ViewController, it shows Error related to the observer for the WSTagsFields.
How can I fix this?
Please have a look at the attachments.
![image_2019_10_30T16_42_47_267Z](https://user-images.githubusercontent.com/55368775/67879230-a8873e80-fb4d-11e9-9025-e618d319b6f6.png)

[2019-10-30 22:40] ricardopereira commented on #128
@alexander1031 which version are you using?

[2019-10-31 02:07] alexander1031 commented on #128
I'm using Xcode 10.2.1 and Swift 5.

[2019-10-31 02:19] alexander1031 commented on #128
[code]
This is full code of ViewController that uses the WSTagsField.
And then now the ViewController shows like this.
![image_2019_10_31T02_14_42_982Z](https://user-images.githubusercontent.com/55368775/67913314-af3da200-fb9d-11e9-96ce-28a3b7d69563.png)
On this screen, if I click the back button or confirm(or save) button, it crashes now. And then shows the uncaught exception error like the above

[2019-10-31 09:25] ricardopereira commented on #128
I mean, what's the version of the `WSTagsField`? Because a similar issue of yours has been fixed recently.

[2019-10-31 10:26] alexander1031 commented on #128
Well, now I'm not sure which version of the WSTagsField I'm using. OK, then I'll update the Cocoapods right now.

[2019-10-31 10:56] alexander1031 commented on #128
Yeah, I've just ran 'pod update' and it works fine. Thanks!!!

[2019-10-31 10:56] #128 closed

[2019-10-31 20:08] ricardopereira commented on #128
Perfect!

[2019-11-05 18:04] megajess opened #129 "Package.swift has incorrect platform version"
### Which version of the WSTagsField are you using?
E.g. `5.2.0`

### On which platform does the issue happen?
E.g. `< iOS 13.0`

### Are you using Carthage?
no

### Are you using Cocoapods?
no

### Which version of Xcode are you using?
(`11.2`)

### What did you do?
I added WSTagsField as a new Package Dependency and when I compile I get an error that the minimum iOS version for WSTagsField is iO

[2019-11-05 18:05] megajess opened #130 "Incorrect platform version in Package.swift"
### Which version of the WSTagsField are you using?
E.g. `1.0.11`

### On which platform does the issue happen?
E.g. `iOS11`

### Are you using Carthage?
If yes, specify the version (`carthage version`)

### Are you using Cocoapods?
If yes, specify the version (`pod --version`)

### Which version of Xcode are you using?
(`xcodebuild -version`)

### What did you do?
Describe the problem.
[code]

##

[2019-11-05 18:05] megajess opened #131 "Incorrect platform version in Package.swift"
### Which version of the WSTagsField are you using?
E.g. `1.0.11`

### On which platform does the issue happen?
E.g. `iOS11`

### Are you using Carthage?
If yes, specify the version (`carthage version`)

### Are you using Cocoapods?
If yes, specify the version (`pod --version`)

### Which version of Xcode are you using?
(`xcodebuild -version`)

### What did you do?
Describe the problem.
[code]

##

[2019-11-05 18:07] megajess commented on #131
Sorry github gave me a 500 error while submitting

[2019-11-05 18:07] #131 closed

[2019-11-05 18:07] megajess commented on #130
Sorry github gave me a 500 error while submitting

[2019-11-05 18:07] #130 closed

[2019-11-15 22:35] OlegTarashkevich commented on #45
Hi, any update?

Temporary I added next: `tagsField.delimiter = " ×"`

[2019-11-18 16:02] ricardopereira commented on #129
@megajess Thanks, it makes sense.

[2019-11-18 22:16] #126 closed

[2019-12-18 06:04] KiranDhokale8118 opened #133 "Arabic Support"
Hi , I am using the latest version of it , which can't be support the in the Arabic language It should support for english - start from left and the Arabic Language - start from right.

[2019-12-18 11:34] ricardopereira commented on #133
@KiranDhokale8118 Currently it doesn't work for Arabic language? Do you mean it should be placed on the right side instead of left?

[2019-12-19 07:43] KiranDhokale8118 commented on #133
hi Whitesmith/Wstagsfield , the comment updated please check it .

On Wed, Dec 18, 2019 at 5:04 PM Ricardo Pereira <notifications@github.com>
wrote:

--

*Thank you for your time and consideration.Sincerely,*
*Kiran Dhokale*
*iOS Developer*
Mob. 9960811855

[2020-02-02 07:49] gabser10 commented on #122
Hi, I get Ambiguous use of 'cornerRadius'
 - SDWebImage (4.4.7):
    - SDWebImage/Core (= 4.4.7)
I must update?
Thank you

[2020-02-03 02:08] ricardopereira commented on #122
@gabser10 `SDWebImage` is not related with `WSTagsField`.

[2020-02-03 08:33] gabser10 commented on #122
Hi, sorry I missed the right line from Podfile.lock :(

WSTagsField (5.0.0)

Sorry for the mistake

Thank You

Il giorno 3 feb 2020, alle ore 03:08, Ricardo Pereira <notifications@github.com<mailto:notifications@github.com>> ha scritto:

@gabser10<https://github.com/gabser10> SDWebImage is not related with WSTagsField.

—
You are receiving this because you were mentioned.
Reply to this email direc

[2020-03-13 23:34] mozeryansky commented on #101
@ricardopereira Were you able to solve this crash?

[2020-03-14 10:21] ricardopereira commented on #101
@mozeryansky Isn't is solved? Still happens? If so please open a new issue.

[2020-04-01 21:14] lawmaestro opened #134 "Miscalculation of `isScrollEnabled`"
### Which version of the WSTagsField are you using?
`5.2`

### On which platform does the issue happen?
`iOS13`

### Are you using Carthage?
No

### Are you using Cocoapods?
`1.8.4`

### Which version of Xcode are you using?
`11.4`

### What did you do?
Describe the problem.
[code]

### What did you expect to happen?
Given the wrapping view grows/shrinks accordingly the tags shouldn't ever be scro

[2020-04-12 15:47] johnharutyunyan opened #136 "Become First Responder doesn't work"
Thank you very much for this lib, it's amazing!
I need to open keyboard when VC is loaded, but **tagsField.becomeFirstResponder()**
 doesn't work.
Can you please help me?

[2020-04-13 14:19] ricardopereira commented on #134
@lawmaestro Could please do a PR? I appreciate your work. Thank you.

[2020-04-13 14:21] ricardopereira commented on #136
@johnharutyunyan Could you please fill the necessary info for each issue:

### Which version of the WSTagsField are you using?

### On which platform does the issue happen?

### Are you using Carthage?
### Are you using Cocoapods?
### Which version of Xcode are you using?

[2020-04-14 18:31] lawmaestro commented on #134
@ricardopereira Sure. PR raised: https://github.com/whitesmith/WSTagsField/pull/137

[2020-04-14 20:49] Geoffrey63 opened #138 "Manage multiple WSTagsField with one delegate"
I have to manage multiple WSTagsField on the same viewController with the same UITextFieldDelegate.
I need different actions (in textFieldShouldReturn and textFieldDidBeginEditing) depending on the UITextField edited.
How can I achieve this as the WSTagsField.textField is set to fileprivate ?
Thanks for your reply.

[2020-04-24 10:16] attheodo opened #139 "Modify access levels to allow more flexible subclassing"
### Problem description

`WSTagsField`s API for the most part is open to modifications by exposing most of it's methods as public. However for better leveraging the core functionality of the library, and especially providing custom tokenization by overriding `tokenizeTextFieldText()`, the `textField` property needs to be made `public`. Consequently the `BackSpaceDetectingTextField()` needs to be a

[2020-05-01 16:16] ricardopereira commented on #136
Close because of inactivity.

[2020-05-01 16:16] #136 closed

[2020-05-01 16:17] ricardopereira commented on #138
The `WSTagsField.textField` has been exposed for public access in v5.3. Thanks for the issue.

[2020-05-01 16:17] #138 closed

[2020-05-01 16:17] ricardopereira commented on #139
The `WSTagsField.textField` has been exposed for public access in v5.3. Thanks for the issue.

[2020-05-01 16:17] #139 closed

[2020-05-01 16:17] ricardopereira commented on #129
Fixed on v5.3.1.

[2020-05-01 16:17] #129 closed

[2020-05-01 16:20] ricardopereira commented on #134
Merged, thanks!

[2020-05-01 16:20] #134 closed

[2020-05-02 10:41] attheodo commented on #139
Thank you for the effort man.

[2020-05-20 06:47] rizwan95 opened #140 "Multiple Delimiter support"
### Problem description

WSTagsField is an awesome library! It would be more beneficial if we could support multiple delimiters.
### Preferred solution

Currently, we are using `String` data type for the delimiter. We can make use of CharacterSet data type to support multiple delimiters.

[2020-05-20 21:40] ricardopereira commented on #140
@rizwan95 Thank you for your feedback. It means a lot to me.

So, do you need something like this: `tagsField.acceptTagOption = [.space, .characterSet(".")]`?

[2020-05-20 22:40] rizwan95 commented on #140
@ricardopereira Exactly!

[2020-05-26 11:05] rizwan95 commented on #140
@ricardopereira Any update regarding this?

[2020-05-26 12:35] ricardopereira commented on #140
Sorry, I'm a bit overwhelmed right now so I didn't have the time to do this.

[2020-06-15 14:39] ibeleliev opened #142 "Question about isFirstResponder"
I found recently this library and started using it, but i came across something that i can't figure out how to deal with.
In my code i have specific closures that i want to run when the focus is not on the WSTagsField instance. For this purpose i set the 'textDelegate' to my controller and im running the closures inside textFieldDidEndEditing. It was working fine as expected until i tried to use t

[2020-06-16 09:21] ricardopereira commented on #142
@ibeleliev I'm not sure if I quite understood your question. What are you trying to achieve? You only what assign events when the field is the first responder?

[2020-06-16 09:42] ibeleliev commented on #142
Well I need a way to do something when the WSTagsField instance is not a firstResponder anymore. Like for example in my case after both the textField and the WSTagView's instances are not first responders.
I see that after the textField resignsFirstResponder ( when using the delete/backspace key on the keyboard ) the WSTagView before the typing indicator is becoming the firstResponder, and what i

[2020-06-16 14:57] ibeleliev commented on #142
A workaround that i use now is to fire a timer when textFieldDidEndEditing is called and check in the timer if WSTagsField.isFirstResponder is false. If it is false I execute my closures.
Sorry for the english it is not my native, and the explanations :)

[2020-06-16 14:57] #142 closed

[2020-06-22 08:55] ibeleliev commented on #106
It is reproducible in the example.
In the extension of the "ViewController" you can add this
[code]
From the prints in the debug area you can see that the 'Unselect' is called on each WSTagView after the alert is dismissed.
[code]

[2020-07-17 11:41] ricardopereira opened #144 "Poll: do you need a version of this library in Swift UI?"
Please react with 👍 if yes and 👎 if no.
Thank you

[2020-08-12 14:16] hananissa commented on #133
@ricardopereira how can I add tags from right to left ??

[2020-08-16 07:48] ricardopereira commented on #133
@hananissa It's currently not supported. Sorry.

[2020-11-04 08:06] luckymehndiratta opened #149 "View Size not increase as in TableView Cell"
We integrate it into UIView present in Tableview Cell the height of UIView not increase also no the ability to scroll the tag view

[2020-11-04 08:48] ricardopereira commented on #149
@luckymehndiratta How are you adding the tags text field in the cell?
Please have a look at the Example project. There's an example with `UITableView`: https://github.com/whitesmith/WSTagsField/blob/master/Example/WSTagsFieldExample/TableViewController.swift

[2020-11-19 17:17] adityativ opened #150 "Attributed placeholder"
### Problem description

I need to set the own attributed placeholder with spaces and etc.

### Preferred solution

Could you make the attributedPlaceholder like as override variable.

Thank you very much

[2020-11-27 13:30] tsiva commented on #82
Hi @ricardopereira
I have made some changes to support both Horizontal and Vertical scrolling.

[2020-12-13 18:48] 1dolinski opened #151 "Tag input does't render with specific tags?"
Hi! I've come across a bug I'm having trouble solving. Maybe someone can help me figure it out.

### Which version of the WSTagsField are you using?
5.4.0

### On which platform does the issue happen?
iOS 14

### Are you using Cocoapods?
1.10.0.rc.1

### Which version of Xcode are you using?
Xcode 12.2
Build version 12B45b

### What did you do?
Using WSTagsField in a form input, certain tag combin

[2021-01-02 06:14] garrettwesley commented on #144
I am curious if anyone has found a solution to using this library in SwiftUI yet?

[2021-01-08 10:22] NiceboyWiseboy commented on #82
Hello @tsiva ,

Can you please help with Horizontal Scroll? As I'm also stuck with this issue.

Thanks,
Best Regards

[2021-03-01 21:32] DedicatedDev commented on #82
Hi.@tsiva. can you share link for that? I also had issue with that right now

[2021-03-02 04:34] sivakumarfluid commented on #82
@NiceboyWiseboy @DedicatedDev
Sure i will provide you the project link Today.

[2021-03-21 04:43] imthath-m commented on #144
It is kinda hard to get stuff like this working in SwiftUI. I mostly prefer screens over which I need more control written in UIKit. And this tags field goes into one of those screens. So I'm happy either way.

[2021-03-21 05:05] imthath-m opened #152 "Increase field height to fit multi line placeholder"
### Which version of the WSTagsField are you using?
E.g. `5.4.0`

### On which platform does the issue happen?
E.g. `iOS 14.4`

### Are you using Carthage?
No

### Are you using Cocoapods?
No

`I installed via SPM`

### Which version of Xcode are you using?
`Version 12.4 (12D4e)`

### What did you do?
Set a rather long placeholder.
[code]

### What did you expect to happen?
TagsField to increase i

[2021-03-26 12:27] ricardopereira commented on #152
@imthath-m Did you tried changing the `numberOfLines` to 0 in the placeholder label?

[2021-03-27 06:53] imthath-m commented on #152
I can not find any placeholder label. Kindly let me know where to look.

I tried to fix this by calculating the attributed placeholder height and applying it to the text field. I've created [a PR](https://github.com/whitesmith/WSTagsField/pull/153) for those changes. But I'm not able to get the placeholder string to wrap across lines.

[2021-06-09 09:03] arunpandiyanp opened #155 "How to set tag limit in WSTagsField ?"
I tried to set tag limit in  wstagsfield , for example i set 5 tags i maximum like that , i cannot find that option can you please anyone help ?

[2021-06-14 14:45] ricardopereira commented on #155
@arunpandiyanp Did you tried check the maximum number of tags inside the `tagsField.onValidateTag` event? You can return `false` is the number of tags is above your limit. It might work.

[2021-07-07 09:02] BlackGold-1989 opened #157 "Need to add # when add tag."
Thanks for awesome library.
I need to add prefix like # symbol when add tag.
Please help me how to introduce this feature.
Thanks.

[2021-07-09 12:52] #53 closed

[2021-07-20 02:42] mibrahim025 commented on #144
Use UIViewRepresentable.

[2021-08-10 16:27] chroidd commented on #155
@ricardopereira thank you so much

[2021-08-10 17:57] #155 closed

[2021-08-10 17:57] arunpandiyanp commented on #155
Thank you @ricardopereira

[2021-09-04 17:03] tryboxx opened #159 "SwiftUI app crash on invalidateIntrinsicContentSize()"
### Which version of the WSTagsField are you using?
SPM `5.4.0`

### On which platform does the issue happen?
`iOS 14.5`

### Are you using Carthage?
No

### Are you using Cocoapods?
No

### Which version of Xcode are you using?
Version 12.5.1 (12E507)

### What did you do?
I created `WSTagsField` as` UIViewRepresentable` in its simplest form and put it in the `Form` in `Section` shown by `.fullsc

[2021-09-21 11:43] m-junaid-butt opened #160 "Change color of Pointer and tags background color."
Currently, when we change the tint color, the color of the pointer and tags background changed. I want to show different pointer and tags background colors.

[2021-09-24 09:22] ricardopereira commented on #160
Hi @m-junaid-butt, currently `WSTagsField` does not support multiple colors but we're always happy to receive contributions using PR's. Thank you.

[2021-10-19 15:29] mibrahim025 commented on #144
I used UIViewRepresentable in SwiftUI and the demo app launched successfully however, when keyboard appears, the app stucks and the memory, the app takes starts increasing so that it occupies GBs. Can anyone help please?

[2021-10-22 17:16] mibrahim025 opened #162 "App stucks when the text field is tapped and the keyboard appears (iOS 15 - iPhone 7)"
I tried to make a demo app with WSTagsField. However when the app launches and the field is tapped and the keyboard appears, memory taken by the app start increasing by leaps and bounds without stopping and the app stucks - i.e. stops responding. I found out that the `repositionViews` is being called again and again endlessly. Can you fix this asap please?

[2021-10-25 10:00] ricardopereira commented on #162
Hi @mibrahim025. Could you share some code to reproduce the issue?

[2021-10-25 16:25] mibrahim025 commented on #162
Hi, following is the demo app that I was working on but stuck at the point where the keyboard shows, memory occupied by the app starts increasing and increasing. Please check it and let me know.
On 25 Oct 2021, 3:01 PM +0500, Ricardo Pereira ***@***.***>, wrote:

[2021-10-26 15:32] mibrahim025 commented on #162
[TagsDemo.zip](https://github.com/whitesmith/WSTagsField/files/7419477/TagsDemo.zip)

[2021-10-29 15:16] mibrahim025 commented on #162
Hi, did you check my issue?

[2021-11-02 15:01] ricardopereira commented on #162
I'm not using Xcode 13. I'll install the beta and try your demo. Thanks for sharing it.

[2021-11-03 08:58] mibrahim025 commented on #162
Ok but please do it early. I need it.

Thanks.
On Nov 2, 2021, 8:01 PM +0500, Ricardo Pereira ***@***.***>, wrote:

[2021-11-06 10:27] ricardopereira commented on #162
@mibrahim025 I already checked your demo and I did some debugging but I still don't know how to fix it. I need more time to investigate a solution.

[2022-10-07 13:12] mazzharr opened #164 "MemoryLeak"
### On which platform does the issue happen?
E.g. `iOS15`

### Are you using Cocoapods?
Yes, Updated version

### Which version of Xcode are you using?
Xcode 14

### What did you do?
I am getting memory leak in WSTagsFields init
 layerBoundsObserver = self.observe(\.layer.bounds, options: [.old, .new]) { [weak self] sender, change in
            guard change.oldValue?.size.width != change.newValue